<!DOCTYPE html>
<html>
<head>
	<title>ツイっちゃー</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="header">
		<div class="header-wrapper">
			<span class="title">ツイっちゃー</span>
		</div>
	</div>
	
</body>
</html>