/* LINE風のCSS　*/
.entry-content .my-line,
.entry-content .other-line {
    clear:both;
    position: relative;
    display: inline-block;
    max-width: 80%;
    max-width: -webkit-calc(100% - 60px);
    max-width: calc(100% - 60px);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 15px;
    background-size: cover;
    z-index: 1;
}
.entry-content .my-line {
    background-color: #85ff49;
    float: right;
    margin: 5px 5px 5px 60px;
}
.entry-content .other-line {
    background-color: White;
    float: left;
    margin: 25px 15px 5px 50px;
}
.entry-content .my-line.stamp {
    background-color: transparent;
}
.entry-content .other-line.stamp {
    background-color: transparent;
}
.entry-content .my-line.stamp img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 6pt;
}
.entry-content .other-line.stamp img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 6pt;
}
.entry-content .other-line::before {
    position: absolute;
    white-space: nowrap;
    top: -22px;
    display: block;
    color: white;
    left: 0px;
}
.entry-content .other-line::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: -17px;
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: -55px;
}
.my-toge::before,
.other-toge::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}
.my-toge::before {
    border-left: 10px solid #85ff49;
    right: -14px;
}
.other-toge::before {
    border-right: 10px solid White;
    left: -14px;
}
<<<<<<< HEAD
td{
    padding: 5px 10px;
    color:black;
    border:none;
}

body{
    font-family: "メイリオ";
}

tr{
    background: #263147;
    border-bottom: 0px;
    color:white;
}